# Datensatz Property Sales von Milwaukee Open Data erste Sichtung

Environment für dieses Notebook: `ads-ml-light` (*requirements-py3.11-ads-ml-light.txt*).

## Daten laden

In [2]:
from pathlib import Path

URL = (
    "https://data.milwaukee.gov/dataset/7a8b81f6-d750-4f62-aee8-30ffce1c64ce/resource/f083631f-e34e-4ad6-aba1-d6d7dd265170/download/2002-2018-property-sales-data.csv"
)
data = Path("/Users/knaflhei/Documents/DBUSA/data/2002-2018-property-sales-data.csv")  #/Users/knaflhei/Documents/DBUSA/data/2002-2018-property-sales-data.csv #./data/2002-2018-property-sales-data.csv

Die Daten sind unter der Datenlizenz Deutschland, [„dl-de/by-2-0"](http://www.govdata.de/dl-de/by-2-0) veröffentlicht, was vielfältige, kommerzielle und nicht kommerzielle Nutzung zulässt und lediglich eine Namensnennung der Lizenz erfordert.

Zugänglich werden die Daten über das Open Data Portal der Stadt Frankfurt gemacht: [offenedaten.frankfurt.de/dataset/baumkataster-frankfurt-am-main](https://www.offenedaten.frankfurt.de/dataset/baumkataster-frankfurt-am-main). Im Geoportal der Stadt Frankfurt können die Bäume auch graphisch dargestellt werden: [geoportal.frankfurt.de](https://geoportal.frankfurt.de/karte/?layerIds=55037,55033,55035,118,28&visibility=true,true,true,true,true&transparency=0,0,0,0,0&center=477500,5551000&zoomLevel=4). Eine minimale Beschreibung findet sich [auf der Seite](https://frankfurt.de/themen/umwelt-und-gruen/umwelt-und-gruen-a-z/im-gruenen/baeume/baumkataster) der Stadt Frankfurt.

In [14]:
import pandas as pd

In [15]:
data = pd.read_csv("/Users/knaflhei/Documents/DBUSA/data/2002-2018-property-sales-data.csv") #index_col = "_id", sep=";"
data.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Commercial,3230461110,2628 N 6TH ST,NaN,6,6258,Commercial Exempt,NaN,2.0,1880,0,1840,1,0,0,0,12750,2002-01,15900
1,Commercial,3590192000,1363 N PROSPECT AV,NaN,3,6262,Mansions With Commercial Usage,NaN,2.0,1876,0,6377,1,0,0,0,11840,2002-01,850000
2,Commercial,4161194000,617 S 94TH ST,NaN,10,6272,Service Building,NaN,1.0,1954,0,5022,1,0,0,0,9700,2002-01,119000
3,Commercial,1719836000,3624 W SILVER SPRING DR,NaN,1,6218,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955,0,6420,1,0,0,0,8792,2002-01,210000
4,Commercial,3480290000,3830 W LISBON AV,NaN,15,6254,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909,0,5956,1,0,0,0,4840,2002-01,48500

## Erste Sichtung der Daten

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34523 entries, 0 to 34522
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PropType      34520 non-null  object
 1   Taxkey        34523 non-null  int64
 2   Address       34523 non-null  object
 3   CondoProject  6656 non-null   object
 4   District      34523 non-null  int64
 5   Nbhd          34523 non-null  int64
 6   Style         34517 non-null  object
 7   Extwall       24624 non-null  object
 8   Stories       34523 non-null  float64
 9   Year_Built    34523 non-null  int64
 10  Nr_of_rms     34523 non-null  int64
 11  Fin_sqft      34523 non-null  int64
 12  Units         34523 non-null  int64
 13  Bdrms         34523 non-null  int64
 14  Fbath         34523 non-null  int64
 15  Hbath         34523 non-null  int64
 16  Lotsize       34523 non-null  int64
 17  Sale_date     34523 non-null  object
 18  Sale_price    34523 non-null  int64
dtypes: float64(1), int64(12), object(6)
memory usage: 5.0+ MB

In [5]:
data.head(50)

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Commercial,3230461110,2628 N 6TH ST,NaN,6,6258,Commercial Exempt,NaN,2.0,1880,0,1840,1,0,0,0,12750,2002-01,15900
1,Commercial,3590192000,1363 N PROSPECT AV,NaN,3,6262,Mansions With Commercial Usage,NaN,2.0,1876,0,6377,1,0,0,0,11840,2002-01,850000
2,Commercial,4161194000,617 S 94TH ST,NaN,10,6272,Service Building,NaN,1.0,1954,0,5022,1,0,0,0,9700,2002-01,119000
3,Commercial,1719836000,3624 W SILVER SPRING DR,NaN,1,6218,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955,0,6420,1,0,0,0,8792,2002-01,210000
4,Commercial,3480290000,3830 W LISBON AV,NaN,15,6254,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909,0,5956,1,0,0,0,4840,2002-01,48500
5,Commercial,4069983200,320 N 76TH ST,NaN,10,6272,Strip Shopping Center,NaN,1.0,1954,0,14200,1,0,0,0,16696,2002-01,885000
6,Commercial,4320050100,1110 W GREENFIELD AV,NaN,12,6277,Strip Shopping Center,NaN,1.0,1974,0,3750,1,0,0,0,10400,2002-01,186000
7,Commercial,6259989110,1233 W LAYTON AV,NaN,13,6418,Svs Station w Conv Store,NaN,1.0,2002,0,2775,1,0,0,0,14400,2002-01,225000
8,Commercial,4670522000,2000 S 6TH ST,NaN,12,6278,Tavern,NaN,2.0,1887,0,3818,1,0,0,0,3040,2002-01,100000
9,Commercial,3211121000,1000 E NORTH AV,NaN,3,6260,Tavern,NaN,2.0,1890,0,2142,1,0,0,0,2500,2002-01,150000
10,Residential,3080013000,3033 N 35TH ST,NaN,7,2960,AP 1,Frame,2.0,1913,0,3476,4,9,1,0,5040,2002-02,42000
11,Commercial,3860309100,4550 W WISCONSIN AV,NaN,10,6272,Billboard,NaN,0.0,0,0,0,1,0,0,0,66400,2002-02,600000
12,Commercial,2520912000,8028 W CAPITOL DR,NaN,5,6226,Day Care Center,NaN,1.0,1981,0,3545,1,0,0,0,6760,2002-02,190000
13,Commercial,3140020000,918 E CENTER ST,NaN,3,6260,Duplex Old/Style,NaN,1.5,1905,0,2100,1,0,0,0,7200,2002-02,55000
14,Commercial,3870209000,3716 W WISCONSIN AV,NaN,15,6270,Office Building - Multi Story ( Ofc & Apt),NaN,3.0,1929,0,81000,1,0,0,0,30000,2002-02,1752700
15,Commercial,1029974100,7500 N TEUTONIA AV,NaN,1,6216,Pole Building,NaN,1.0,1993,0,6360,1,0,0,0,50749,2002-02,315000
16,Commercial,2930403000,9141 W LISBON AV,NaN,5,6226,Residence With Commercial Usage,NaN,1.0,1957,0,1410,1,0,0,0,4820,2002-02,105000
17,Commercial,3461624000,5205 W NORTH AV,NaN,10,6250,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1929,0,4810,1,0,0,0,4800,2002-02,88000
18,Commercial,4320898000,1101 W NATIONAL AV,NaN,12,6277,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1885,0,4560,1,0,0,0,3500,2002-02,150000
19,Commercial,2620416000,8412 W LISBON AV,NaN,5,6226,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1953,0,3768,1,0,0,0,4800,2002-02,130000
20,Commercial,4620635000,541 W HISTORIC MITCHELL ST,NaN,12,6280,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1870,0,2999,1,0,0,0,3375,2002-02,65000
21,Commercial,1779982110,8946 W SILVER SPRING DR,NaN,2,6212,Strip Shopping Center,NaN,1.0,1969,0,6170,1,0,0,0,13947,2002-02,235000
22,Commercial,5829987100,1213 E HOWARD AV,NaN,14,6418,Svs Station w Conv Store,NaN,1.0,1958,0,1296,1,0,0,0,13539,2002-02,314800
23,Commercial,1060101000,7240 W GOOD HOPE RD,NaN,9,6206,Used Car Sale,NaN,1.0,1985,0,2101,1,0,0,0,23052,2002-02,232500
24,Commercial,4570437000,4101 W GREENFIELD AV,NaN,8,6274,Warehouse Building - 1 Story,NaN,1.0,1947,0,2500,1,0,0,0,2500,2002-02,84500
25,Lg Apartment,3590685100,1601 N FARWELL AV,48: 1-Br,3,6974,Apartment: 48: 1-Br Units,NaN,3.0,1964,0,35736,1,0,0,0,19100,2002-03,2000000
26,Commercial,2670677100,4409 W FOND DU LAC AV,NaN,7,6244,Beer Depot & Liquor Store,NaN,1.0,1948,0,2560,1,0,0,0,9600,2002-03,115000
27,Commercial,3661510000,3500 W VLIET ST,NaN,15,6254,Billboard,NaN,0.0,0,0,0,1,0,0,0,2590,2002-03,48000
28,Commercial,3590210000,1568 N FARWELL AV,NaN,3,6262,Residence With Commercial Usage,NaN,2.0,1915,0,5826,1,0,0,0,6075,2002-03,350000
29,Commercial,2890001000,5835 W KEEFE AV,NaN,10,6244,Residence With Commercial Usage,NaN,1.5,1905,0,1502,1,0,0,0,5242,2002-03,65000
30,Commercial,2811739000,3377 N PIERCE ST,NaN,6,6238,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1928,0,5100,1,0,0,0,7200,2002-03,120000
31,Commercial,2810949000,722 E BURLEIGH ST,NaN,3,6238,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1924,0,4144,1,0,0,0,3000,2002-03,110000
32,Commercial,3040060000,7333 W BURLEIGH ST,NaN,10,6226,"Store Building - Single tenant, 1 story",NaN,1.0,1928,0,7869,1,0,0,0,11200,2002-03,190000
33,Commercial,2490801100,5325 W FOND DU LAC AV,NaN,2,6230,"Store Building - Single tenant, 1 story",NaN,1.0,1990,0,6960,1,0,0,0,21212,2002-03,825000
34,Commercial,390363000,11011 W HEATHER AV,NaN,9,6202,Warehouse Building - 1 Story,NaN,1.0,2002,0,12400,1,0,0,0,104588,2002-03,144000
35,Commercial,2890385000,5814 W BURLEIGH ST,NaN,10,6244,Warehouse Building - 1 Story,NaN,1.0,1989,0,1080,1,0,0,0,4109,2002-03,64000
36,Vacant Land,1040211111,5201 W CLINTON AV,NaN,9,6300,Commercial Land,NaN,0.0,0,0,0,1,0,0,0,37852,2002-03,68200
37,Commercial,1910422100,5200 N 51ST BL,NaN,1,6218,Day Care Center,NaN,2.0,1946,0,3697,1,0,0,0,11550,2002-04,130000
38,Commercial,3242416000,1501 W CENTER ST,NaN,15,6256,Fast Food Operation,NaN,1.0,1941,0,1338,1,0,0,0,4320,2002-04,38000
39,Commercial,4620803100,1734 S 1ST ST,NaN,12,6423,Multi Story Warehouse,NaN,2.0,1926,0,26130,1,0,0,0,17642,2002-04,275000
40,Commercial,4000041100,510 N 27TH ST,NaN,4,6270,Service Building,NaN,1.0,1947,0,3654,1,0,0,0,12600,2002-04,81900
41,Commercial,5071110000,1021 W DAKOTA ST,NaN,14,6284,Service Building,NaN,1.0,1923,0,1895,1,0,0,0,2140,2002-04,55000
42,Commercial,4350401000,3429 W NATIONAL AV,NaN,8,6274,Sit Down Restaurant,NaN,1.0,1984,0,2247,1,0,0,0,5000,2002-04,161500
43,Commercial,2070841000,5148 N TEUTONIA AV,NaN,1,6232,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1949,0,7485,1,0,0,0,10759,2002-04,164700
44,Commercial,2740314000,3929 N HUMBOLDT BL,NaN,6,6238,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1957,0,5382,1,0,0,0,4500,2002-04,80000
45,Commercial,5259925000,9225 W BELOIT RD,NaN,11,6288,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1958,0,3598,1,0,0,0,9420,2002-04,230000
46,Commercial,4980106000,2316 S 6TH ST,NaN,14,6281,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1912,0,2600,1,0,0,0,2000,2002-04,95000
47,Commercial,839997141,7911 N 60TH ST,NaN,9,6208,Strip Shopping Center,NaN,1.0,1972,0,5075,1,0,0,0,14472,2002-04,212000
48,Commercial,4970535000,2501 S 7TH ST,NaN,14,6281,Tavern,NaN,2.0,1895,0,5280,1,0,0,0,7200,2002-04,64000
49,Commercial,4680813000,1000 W LINCOLN AV,NaN,12,6281,Tavern,NaN,2.0,1890,0,2800,1,0,0,0,3080,2002-04,55000

In [6]:
data.isna().sum()

PropType            3
Taxkey              0
Address             0
CondoProject    27867
District            0
Nbhd                0
Style               6
Extwall          9899
Stories             0
Year_Built          0
Nr_of_rms           0
Fin_sqft            0
Units               0
Bdrms               0
Fbath               0
Hbath               0
Lotsize             0
Sale_date           0
Sale_price          0
dtype: int64

In [7]:
data["PropType"].value_counts()

PropType
Residential     24634
Condominium      5715
Commercial       2922
Lg Apartment     1017
Vacant Land       232
Name: count, dtype: int64

In [8]:
data["Year_Built"].value_counts()

Year_Built
1953    1118
1955    1051
1950     999
1952     997
1956     949
        ...
1848       1
1835       1
1866       1
1871       1
910        1
Name: count, Length: 168, dtype: int64

In [23]:
filtered_counts = data[data["Year_Built"] >1950]["Year_Built"].value_counts()
print(filtered_counts)

Year_Built
1953    1118
1955    1051
1952     997
1956     949
1954     888
        ...
2017       9
2016       9
2014       8
2015       4
2018       2
Name: count, Length: 68, dtype: int64

In [9]:
data["Style"].value_counts()

Style
Ranch                                           7412
Cape Cod                                        5159
APARTMENT                                       3381
Residence O/S                                   2805
Milwaukee Bungalow                              1971
                                                ...
Apartment: 6: 1-Br ,6: 2-Br ,1: 4-Br  Units        1
MIXED                                              1
Apartment: 5: 1-Br ,6: 3-Br  Units                 1
Apartment: 24: 3-Br ,5: 1-Br ,2: 2-Br  Units       1
Svc Station w Conv, Carwash, and Restaurant        1
Name: count, Length: 386, dtype: int64

In [10]:
data["District"].value_counts()

District
5     4441
11    4085
3     3296
14    3260
13    3198
10    3079
4     2499
9     1942
2     1678
6     1470
1     1250
12    1238
7     1224
8     1110
15     753
Name: count, dtype: int64

In [11]:
data["Bdrms"].value_counts()

Bdrms
3       13350
2        6459
4        5820
0        4346
1        1728
5        1367
6        1228
7         123
8          74
9          20
10          3
13          2
12          1
11          1
2031        1
Name: count, dtype: int64

In [30]:
filtered_counts = data[data["Bdrms"] >3]["Bdrms"].value_counts()
print(filtered_counts)

Bdrms
4       5820
5       1367
6       1228
7        123
8         74
9         20
10         3
13         2
12         1
11         1
2031       1
Name: count, dtype: int64

In [12]:
data["Bdrms"].value_counts()[:10]

Bdrms
3    13350
2     6459
4     5820
0     4346
1     1728
5     1367
6     1228
7      123
8       74
9       20
Name: count, dtype: int64

In [13]:
data["Lotsize"].value_counts()

Lotsize
0         5926
4800      1902
3600      1248
6000       737
5400       685
          ...
5585         1
4714         1
15247        1
13704        1
152286       1
Name: count, Length: 4740, dtype: int64

In [31]:
data["Sale_date"].value_counts()

Sale_date
2018-05    568
2016-06    551
2017-06    549
2018-08    546
2018-06    545
          ...
2008-11      8
2008-09      8
2002-08      7
2003-03      6
2008-05      5
Name: count, Length: 204, dtype: int64

In [37]:
filtered_counts = data[pd.to_datetime(data["Sale_date"]) > pd.Timestamp('2005-12-31')]["Sale_date"].value_counts()
print(filtered_counts)

Sale_date
2018-05    568
2016-06    551
2017-06    549
2018-08    546
2018-06    545
          ...
2008-08     11
2008-04     10
2008-09      8
2008-11      8
2008-05      5
Name: count, Length: 156, dtype: int64

In [39]:
data['Year'] = pd.to_datetime(data['Sale_date']).dt.year
sales_per_year = data['Year'].value_counts()
max_sales_year = sales_per_year.idxmax()
max_sales_count = sales_per_year.max()

# Identifizieren des Jahres mit den wenigsten Verkäufen
min_sales_year = sales_per_year.idxmin()
min_sales_count = sales_per_year.min()

# Ausgabe der Ergebnisse
print(f"Das Jahr mit den meisten Verkäufen ist {max_sales_year} mit {max_sales_count} Verkäufen.")
print(f"Das Jahr mit den wenigsten Verkäufen ist {min_sales_year} mit {min_sales_count} Verkäufen.")
print("\nVerkaufszahlen pro Jahr:")
print(sales_per_year)

Das Jahr mit den meisten Verkäufen ist 2018 mit 5332 Verkäufen.
Das Jahr mit den wenigsten Verkäufen ist 2008 mit 152 Verkäufen.

Verkaufszahlen pro Jahr:
Year
2018    5332
2017    4840
2016    4422
2015    3706
2009    2997
2014    2946
2013    2754
2012    1996
2010    1922
2011    1759
2005     408
2006     344
2007     283
2004     277
2003     215
2002     170
2008     152
Name: count, dtype: int64

In [40]:

# Konvertieren der Sale_date Spalte zu einem datetime-Objekt und Extrahieren des Jahres
data['Year'] = pd.to_datetime(data['Sale_date']).dt.year

# Aggregieren der Gesamtverkaufspreise pro Jahr
total_sales_price_per_year = data.groupby('Year')['Sale_price'].sum()

# Identifizieren des Jahres mit dem höchsten Gesamtverkaufspreis
max_sales_price_year = total_sales_price_per_year.idxmax()
max_sales_price = total_sales_price_per_year.max()

# Identifizieren des Jahres mit dem niedrigsten Gesamtverkaufspreis
min_sales_price_year = total_sales_price_per_year.idxmin()
min_sales_price = total_sales_price_per_year.min()

# Ausgabe der Ergebnisse
print(f"Das Jahr mit dem höchsten Gesamtverkaufspreis ist {max_sales_price_year} mit einem Verkaufspreis von {max_sales_price}.")
print(f"Das Jahr mit dem niedrigsten Gesamtverkaufspreis ist {min_sales_price_year} mit einem Verkaufspreis von {min_sales_price}.")

Das Jahr mit dem höchsten Gesamtverkaufspreis ist 2018 mit einem Verkaufspreis von 1185587030.
Das Jahr mit dem niedrigsten Gesamtverkaufspreis ist 2002 mit einem Verkaufspreis von 47238867.

In [42]:
# Konvertieren der 'Sale_date' Spalte zu einem datetime-Objekt und Extrahieren des Jahres
data['Year'] = pd.to_datetime(data['Sale_date']).dt.year

# Berechnen des Durchschnittsverkaufspreises pro Jahr
average_sale_price_per_year = data.groupby('Year')['Sale_price'].mean().reset_index()

# Umbenennen der Spalten für eine klarere Darstellung
average_sale_price_per_year.columns = ['Jahr', 'Durchschnittlicher Verkaufspreis']

# Ausgabe der Ergebnisse
print("Durchschnittlicher Verkaufspreis pro Jahr pro Objekt:")
print(average_sale_price_per_year)

Durchschnittlicher Verkaufspreis pro Jahr pro Objekt:
    Jahr  Durchschnittlicher Verkaufspreis
0   2002                      2.778757e+05
1   2003                      4.724055e+05
2   2004                      5.297466e+05
3   2005                      7.503111e+05
4   2006                      7.666480e+05
5   2007                      9.180653e+05
6   2008                      1.121077e+06
7   2009                      1.684577e+05
8   2010                      1.680708e+05
9   2011                      1.852726e+05
10  2012                      2.043499e+05
11  2013                      1.947938e+05
12  2014                      2.276410e+05
13  2015                      2.127998e+05
14  2016                      2.320255e+05
15  2017                      2.434539e+05
16  2018                      2.223532e+05

In [43]:
data.describe()

,Taxkey,District,Nbhd,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_price,Year
count,3.452300e+04,34523.000000,34523.000000,34523.000000,34523.000000,34523.000000,34523.000000,34523.000000,34523.000000,34523.000000,34523.000000,3.452300e+04,3.452300e+04,34523.000000
mean,3.746264e+09,8.096950,3841.008922,1.321279,1914.067375,0.684182,2551.688932,1.138893,2.778495,1.291603,0.298670,7.714625e+03,2.387667e+05,2013.919184
std,1.482166e+09,4.154442,1800.989357,0.630092,248.739610,1.642658,9284.374766,0.394879,11.018133,0.739162,0.498634,2.534149e+04,1.404286e+06,3.549270
min,1.999210e+07,1.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,2002.000000
25%,2.721106e+09,4.000000,2100.000000,1.000000,1924.000000,0.000000,1062.000000,1.000000,2.000000,1.000000,0.000000,3.600000e+03,9.500000e+04,2012.000000
50%,3.591649e+09,9.000000,4330.000000,1.000000,1950.000000,0.000000,1344.000000,1.000000,3.000000,1.000000,0.000000,5.120000e+03,1.369000e+05,2015.000000
75%,5.080277e+09,11.000000,5295.000000,2.000000,1960.000000,0.000000,1948.000000,1.000000,4.000000,2.000000,1.000000,7.200000e+03,1.930000e+05,2017.000000
max,7.169999e+09,15.000000,6982.000000,26.000000,2018.000000,12.000000,378717.000000,13.000000,2031.000000,10.000000,3.000000,1.090307e+06,1.246000e+08,2018.000000

In [44]:
data.nunique()

PropType            5
Taxkey          29439
Address         26846
CondoProject      537
District           15
Nbhd              591
Style             386
Extwall             9
Stories            19
Year_Built        168
Nr_of_rms          13
Fin_sqft         4421
Units               9
Bdrms              15
Fbath               8
Hbath               4
Lotsize          4740
Sale_date         204
Sale_price       3692
Year               17
dtype: int64